.hidden {
  display: none;
}

body {
  margin:auto;
  padding: 50px;
  padding-right: 500px;
  background-color: black;
  color: white;
}

.survey-results {
  font-size: x-large ;
  font-weight: 250;
}

h4 {
  padding: 10px 0px 10px 0px;
}